fastapi
uvicorn
gunicorn
aiofiles
SQLAlchemy
SQLAlchemy-Utils
pydantic
databases
starlette
passlib
bcrypt
python-jose
python-multipart
aiosqlite
# flake8
# crud
# pytest
# requests
# flake8

# alembic
